---
// Content for the "Featured Works" section
import FeaturedProjectCard from "../FeaturedProjectCard.astro";
import Button from "../../common/Button.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  data: {
    section: {
      title: string;
      cta: {
        text: string;
        href: string;
      };
    };
    projects: CollectionEntry<"projects">[];
  };
}

const { data } = Astro.props;
const { section, projects } = data;
const { title, cta } = section;
const featuredProjects = projects;
---

<h2 slot="title" class="section-title scroll-target-title">{title}</h2>

<div
  class:list={[
    "section-content scroll-target-content featured-works-container",
    featuredProjects.length % 2 !== 0 ? "single-column" : "double-column",
  ]}
>
  {
    featuredProjects.map((project) => {
      return (
        <FeaturedProjectCard
          title={project.data.title}
          homepageSummary={project.data.homepageSummary}
          slug={project.slug}
          isDoubleColumn={featuredProjects.length % 2 === 0}
        />
      );
    })
  }

  <div class="button-group">
    <Button class="button" href={cta.href} text={cta.text} wrapperClass="projects-cta-button" />
  </div>
</div>

<style>
  .section-title {
    font-size: var(--section-title-size, clamp(2rem, 2rem + 2vw, 4rem));
    font-weight: normal;
    margin-bottom: 1em;
  }

  .section-content {
    font-size: var(--section-content-size, 1.25rem);
    line-height: var(--section-content-line-height, 1.6);
    max-width: var(--section-content-max-width, 65ch);
  }

  .featured-works-container {
    display: grid;
    grid-template-columns: 1fr; /* Default: 1 column */
    gap: 2rem; /* Spacing between cards (vertical and horizontal in grid) */
  }

  /* Apply 2-column layout on wider screens */
  @media (min-width: 696px) {
    /* Adjust breakpoint as needed (e.g., 992px for larger screens) */
    .featured-works-container.double-column {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }

    /* Force single column if odd number of items */
    .featured-works-container.single-column {
      grid-template-columns: 1fr;
    }
  }

  .button-group {
    display: flex;
    gap: 1rem;
  }
</style>
