---
// Content for the "Featured Works" section
import FeaturedProjectCard from "../FeaturedProjectCard.astro";
import Button from "../../common/Button.astro";

interface Props {
  data: {
    section: {
      title: string;
      cta: {
        text: string;
        href: string;
      };
    };
    projects: any[];
  };
}

const { data } = Astro.props;
const { section, projects } = data;
const { title, cta } = section;
const featuredProjects = projects;
---

<h2 slot="title" class="about-title scroll-target-title">{title}</h2>

<div class="about-content scroll-target-content featured-works-container">
  {
    featuredProjects.map((project) => {
      return (
        <FeaturedProjectCard
          title={project.data.title}
          homepageSummary={project.data.homepageSummary}
          imageAlt={project.data.imageAlt}
          githubUrl={project.data.githubUrl}
          slug={project.slug}
        />
      );
    })
  }

  <div class="button-group">
    <Button class="button" href={cta.href} text={cta.text} wrapperClass="projects-cta-button" />
  </div>
</div>

<style>
  .featured-works-container {
    display: grid;
    grid-template-columns: 1fr; /* Default: 1 column */
    gap: 2rem; /* Spacing between cards (vertical and horizontal in grid) */
  }

  /* Apply 2-column layout on wider screens */
  @media (min-width: 696px) {
    /* Adjust breakpoint as needed (e.g., 992px for larger screens) */
    .featured-works-container {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .button-group {
    display: flex;
    gap: 1rem; /* Adjust spacing as needed */
  }
</style>
