---
import RichText from "../../common/RichText.astro";

export interface EntryItem {
  title: string;
  subtitle?: string;
  date?: string;
  details?: string[];
}

interface Props {
  title: string;
  entries: EntryItem[];
}

const { title, entries } = Astro.props;
---

<section class="resume-section scroll-reveal-animate">
  <h2>{title}</h2>
  {
    entries.map((entry) => (
      <div class="entry-item">
        <div class="header">
          <span class="title">
            <RichText content={entry.title} />
          </span>
          {entry.subtitle && (
            <span class="subtitle">
              <RichText content={entry.subtitle} />
            </span>
          )}
          {entry.date && <span class="date">{entry.date}</span>}
        </div>
        {entry.details && (
          <div class="details">
            <RichText content={entry.details} />
          </div>
        )}
      </div>
    ))
  }
</section>

<style>
  .resume-section {
    margin-bottom: 4rem;
  }
  h2 {
    font-size: clamp(1.8rem, 1.5rem + 1.5vw, 2.8rem);
    margin-bottom: 2rem;
    font-weight: 600;
    border-bottom: 1px solid var(--text-muted);
    padding-bottom: 0.5rem;
  }
  .entry-item {
    margin-bottom: 2.5rem;
  }
  .entry-item:last-child {
    margin-bottom: 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    align-items: baseline;
  }
  .title {
    font-weight: bold;
    margin-right: 0.5rem;
  }
  .subtitle {
    margin-right: auto; /* Push date to the right */
  }
  .date {
    font-family: var(--font-family-sans);
    color: var(--text-muted);
    font-size: 1rem;
    white-space: nowrap;
    margin-left: 1rem;
  }
  .details {
    margin-top: 0.8rem;
    font-size: 1.1rem;
    line-height: 1.8;
  }

  @media (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
    .date {
      margin-left: 0;
      margin-top: 0.3rem;
    }
    .subtitle {
      margin-right: 0;
    }
  }
</style>
