---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import SectionWrapper from "../components/home/SectionWrapper.astro";
import MeetMeContent from "../components/home/content/MeetMeContent.astro";
import FeaturedWorksContent from "../components/home/content/FeaturedWorksContent.astro";
import HighlightsUpdatesContent from "../components/home/content/HighlightsUpdatesContent.astro";
import ConnectContent from "../components/home/content/ConnectContent.astro";
import { getHomeViewModel } from "../viewmodels/homeViewModel";

const viewModel = await getHomeViewModel();
---

<Layout title="Homepage">
  <main class="homepage-content">
    <Hero data={viewModel.hero} />

    <SectionWrapper>
      <MeetMeContent data={viewModel.meetMe} />
    </SectionWrapper>

    <SectionWrapper>
      <FeaturedWorksContent data={viewModel.featuredWorks} />
    </SectionWrapper>

    <SectionWrapper>
      <HighlightsUpdatesContent data={viewModel.highlights} />
    </SectionWrapper>

    <SectionWrapper>
      <ConnectContent data={viewModel.connect} />
    </SectionWrapper>
  </main>
</Layout>

<style>
  .homepage-content {
    /* Styles specific to the homepage main container if needed */
    /* Ensures sections flow vertically */
    display: flex;
    flex-direction: column;
  }
  main {
    position: relative;
    width: 100%;
  }
</style>
